@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #02050C;
  --secondary: #1B0015;
  --white: #FFFFFF;
  --gray: #D9D9D9;
  --hover: #221C1C;
  --yellow: #FFAF00;
  --dark: #171717;
}



@theme inline {
  --color-background: var(--primary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, var(--font-geist-sans);
}

/* Default Light Theme */
body {
  @apply bg-[var(--background)] text-[var(--foreground)];

  /* animation and transition */
  transition: background-color 0.3s ease, color 0.3s ease;
}


/* Dark Mode */
.dark body {
  @apply bg-[var(--primary)] text-white;

  /* animation and transition */
  transition: background-color 0.3s ease, color 0.3s ease;
}


* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.remove-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.remove-scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}